#menu{
    display:none;
    @media screen and (max-width: 640px) {
        display:block;
       
      }

  
    div{
        position: fixed;
        z-index:2;
        width:100vw;
/*ici*/ //width:0;
        height:100vh;
        background-color: rgba($color: #000000, $alpha: 0.3);
    }
    ul{
        position: fixed;
        z-index:2;
        right:0;
        top:80px;
        margin:0;
/*ici*/ //padding:0;
        width:230px;
/*ici*/ //width:0;
        text-align: center;
        li{
            font-weight: normal;
            line-height:30px;
            margin:0;
            padding:10px;
            text-transform: uppercase;
            list-style-type: none;
            border-bottom:$bord;
            width: 100%;
            background-color: white;
            &:hover{
                background-color: $couleur_1;
            }
        }
    }
  






}