.popup0{
    background-color:$couleur_fond;
    width: 100vw;
    height:100vh;
    display: none;
    .contenant{
        background-color: white;
        margin: auto;
        height: 100vh;
        width:70%;
        @media screen and (max-width: 900px) {
            width:80%;
          }
        @media screen and (max-width: 640px) {
            width:100%;
          }
        .croix{
            text-align: right;
            padding:20px;
            cursor: pointer;
        }
        h2{
            text-align: center;
            text-transform:none;
        }
        p{
            text-align: center;
        }
        .slider{
            width:80%;
            margin: auto;
            height: 200px;
            background-color: coral;
        }

    }
}