.sectionPortfolio{
    position: relative;
    z-index:1;
    width:100vw;
    min-height:100vh;
   //overflow: hidden;
   @media screen and (max-width: 900px) {
    overflow: visible;
    min-height: 480px;
    }
    @media screen and (max-width: 640px) {
    overflow: visible;
    }
    div{
        min-width: 30px;
    }
    .car1{
        transform: rotate(10deg);
        top: calc(-120vh/6);
        left: calc(170vh/6);
        @media screen and (max-width: 900px) {
            top: -120px;
            left: 150%;
            }
        @media screen and (max-width: 640px) {
            left: 50%;
            }
    }
    .contenant{
        width: 90%;
        @media screen and (max-width: 900px) {
    width:100%;
            }
    }
  
    .projet{
        &:hover{
            cursor:pointer;
        }
        img{
            width:100%;
            height:100%;
            text-align: center;
            transition: transform 1s;
            &:hover{
                transform: scale(1.3, 1.3);
                border:3px solid black;
            }
        }
    }

}