.sectionCompetences{
    position: relative;
    z-index:1;
   width:100vw;
   min-height:100vh;
   //overflow: hidden;
   @media screen and (max-width: 900px) {
    overflow: visible;
    min-height:600px;
    }
   @media screen and (max-width: 640px) {
    overflow: visible;
    }
    p{
        margin:auto;
    }
    .car1{
        left: calc(50vh);
        transform: rotate(10deg);
        top:-50px;
        @media screen and (max-width: 900px) {
            left:250px;
        }
        @media screen and (max-width: 640px) {
            left:50%;
        }
        @media screen and (max-width: 420px) {
            left:30%;
          }
    }
    .maingauche, .mainmilieu{
        min-width:38%;   
    }
    .maingauche, .maindroite{
        min-width:24%;   
    }
    .main{
        display: flex;
        flex-direction: row;
        @media screen and (max-width: 640px) {
            flex-direction: column;
        }
    }
    p{
        padding:15px;
    }
    .car2{
        right: 0;
        top: calc(-100vh/6);
    }
    .car3{
        transform: rotate(100deg);
        right: 0;
        @media screen and (max-width: 900px) {
             right: -15%;
         }
    
    }
    .car4{
        transform: rotate(10deg);
        top: calc(350vh/6);
        @media screen and (max-width: 900px) {
           top:250px;
            right: 20px;
        }
    }
 
   

}