.sectionParcours{
    position: relative;
    z-index:1;
    width:100vw;
    min-height:100vh;
   //overflow: hidden;
   @media screen and (max-width: 900px) {
    overflow: visible;
    min-height: 600px;
    }
    @media screen and (max-width: 640px) {
    overflow: visible;
    }
    .titre{
        margin-left:50%;
        transform: translateX(calc(-100vh/6));
        @media screen and (max-width: 640px) {
            transform: translateX(-80px);
            }
    }
    .sstitre{
        margin:0 15px;
        @media screen and (max-width: 640px) {
            margin:0;
            }
    }
    .experiences{
        transform: rotate(-90deg); 
        top: 70px;
        left:-45px;
        @media screen and (max-width: 900px) {
            top: 50px;
            }
        @media screen and (max-width: 640px) {
            transform: rotate(0deg); 
            top:30px;
            left:0;
            }
    }
    .formations{
        transform: rotate(-90deg); 
        top: 70px;
        left:-45px;
        @media screen and (max-width: 900px) {
            top: 50px;
            }
        @media screen and (max-width: 640px) {
            transform: rotate(0deg); 
            top:30px;
            left:0;
            }
    }

    p{
        margin:5px;
    }
    .date{
        width:100px;
        text-align: center;
        word-break: keep-all;

    }
    .haut{
        transform: translateX(-20px);
        justify-content:flex-end;
        padding-right: 15px;
        @media screen and (max-width: 900px) {
            transform: translateX(0px);
            }
        @media screen and (max-width: 640px) {
            justify-content:flex-start;
            }
        .info{
            text-align:left;  
        }
    }
  
    .bas{
        justify-content:flex-start;
        padding-left: 15px;
        @media screen and (max-width: 640px) {
            justify-content:flex-end;
            }
        .info{
            text-align:right;
        }
    }
    .info{
        max-width:400px;
        @media screen and (max-width: 640px) {
            width: 100%;
            }
    }
    .haut-droite, .bas-gauche{
        margin:15px 0px;
        @media screen and (max-width: 640px) {
            }
    }
   .bas-gauche div:nth-of-type(1){
        @media screen and (max-width: 640px) {
            justify-content: flex-end;
           
            }
    }

 
    .sstitre:first-of-type{
        @media screen and (max-width: 640px) {
            transform: translateX(-20px);
            }
        }
  
   
     .bas-gauche{
        .sstitre{
             @media screen and (max-width: 640px) {
                 margin-bottom: 15px;
                transform: translateX(20px);
                }
        }
    }
    .tout{ 
        max-width: 980px;
        min-height: calc(100vh/2);
        margin:auto;
        justify-content: center;
        @media screen and (max-width: 900px) {
            margin: 0 20px;
            width:unset;
            min-height:unset;
            }
    }
    .car1{
        right:0;
        bottom:0;
    }
    .car2{
        transform: rotate(-30deg);
        bottom:calc(150vh/6);
        right: calc(100vh/6);
        @media screen and (max-width: 900px) {
           
        }
        @media screen and (max-width: 640px) {
           
        }
    }
    .car6{
        transform: rotate(-10deg);
        top:calc(150vh/6);
        left: calc(50vh/6);
        @media screen and (max-width: 900px) {
            top: 20px;
            left: 220px;
            //right: 20px;
        }
        @media screen and (max-width: 640px) {
            top: 0px;
            left: unset;
            right: 20px;
        }
    }
  
  

}