$couleur_bord:#1A171B;
$couleur_fond:rgb(226, 226, 224);
$couleur_0: white;
$couleur_1:#FFED00;
$couleur_2:#e30613;
$couleur_3:#1B8BF5;

$texte: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$bord: 3px $couleur_bord solid;
$demibord: 1.5px $couleur_bord solid;

$larg1:calc(100vh/6);
$larglogo:calc((1.1671554252199)*100vh/6);