$couleur_bord:black;
$couleur_fond:rgb(226, 226, 224);
$couleur_0: white;
$couleur_1:#ffee00;
$couleur_2:red;
$couleur_3:#10b3ff;

$texte: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$bord: 3px $couleur_bord solid;
$demibord: 1.5px $couleur_bord solid;

$larg1:calc(100vh/6);
$larglogo:calc((1.1671554252199)*100vh/6);